body{
    padding-top: 50px;
    padding-bottom: 50px;
    background:rgba(32, 30, 30, 0.747);
}
#icon{
    display:flex;
    padding-top :20px; 
    padding-bottom: 25px;
    justify-content:center;

}

#icon>i{
font-size: 50px;
color: aliceblue;

}

#sectionMenue{
display: flex;
flex-direction: column;
}

#buttonGroup{
    display: flex;
    flex-direction: column;
}
 
#buttonGroup{
    display:flex;
    flex-direction: column;
}

.button{
 width: 100%;
 height: 50px;
 background: transparent;
 border:0 solid;
 color: aliceblue;
}
.button>i{
   float: left;
   font-size: 30px;
}


#buttonGroup>button:hover{
    color:  yellowgreen;
    background: rgba(32, 30, 30, 0.747);
    font-size: 18px;
    border-left: 5px solid yellowgreen;
    border-right: 15px solid yellowgreen;
}

#colTop{
    background:rgba(32, 30, 30, 0.747);
    padding:0;
}

#news{

}

#bottom{
    height: 100%;
}

#news-top{
    width: 100%
}
#news>span{
    display: flex;
    background:rgba(32, 30, 30, 0.747);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color:yellowgreen;
    width: 100px;
    height: 50px;
    border-top-left-radius:15px; 
    border-top-right-radius:15px; 
}
#news-background{
    display: flex;
    flex-direction: column;
    background:rgba(32, 30, 30, 0.747);
    border-top-right-radius:15px; 
    border-bottom-right-radius:15px; 
    border-bottom-left-radius:15px; 
}

#bottom-col-5{
    margin-top:30px;
}
#bottom-col-5>span{
    display: flex;
    background:rgba(32, 30, 30, 0.747);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: yellowgreen;
    width: 100px;
    height: 50px;
    border-top-left-radius:15px; 
    border-top-right-radius:15px; 
}
#bottom-col-2{
    background:rgba(32, 30, 30, 0.747);
}


.-content{
    display:flex;
    box-sizing: border-box;
    border-radius: 15px;
    background:white;
    border:3px solid silver;
    width:700px;    
}

#news-contents{
    margin: 20px;
}
.media{
    background:rgba(32, 30, 30, 0.747);
    border-radius: 15px;
    color:white;
    margin-bottom: 15px;
}
.mr-3, .mx-3 {
    margin:10px;
}
.mt-0, .my-0 {
    margin-top: 10px!important;
    margin-right: 10px!important;
}
p{
    margin-bottom: 0!important;
}
#buttonGroup>button>a{
 float: right;
 margin-right: 10px;
 color: white;
}


#addButton{
    display: flex;
    justify-content: center;
}
#addButton>button{
    display: flex;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background:rgba(32, 30, 30, 0.747);
    border: 2px solid whitesmoke;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 15px
}
#selCoin{
    display: flex;
    flex-direction: column;
    background:rgba(32, 30, 30, 0.747);
    border-top-right-radius:15px; 
    border-bottom-right-radius:15px; 
    border-bottom-left-radius:15px; 
    color: #fff
}

.modal-content{
    background: black;
    color: whitesmoke;
}

.close {
    color: white;
}
.close:hover{
    color:transparent;
}
.modal-footer>button{
    border-radius: 8px;
    background: transparent;
    color: whitesmoke;
    border:3px solid white;
}

.modal-footer>button:hover{
    color:yellowgreen;
}


.coinsForm{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.coinsForm>input{
margin-right:15px; 
}

.coinsForm>img{
    margin-right:15px; 
    }


.modal-footer>input{
    border-radius: 8px;
    background: transparent;
    color: whitesmoke;
    border:3px solid white;
    }

.modal-footer>input:hover{
color:yellowgreen;
}

.sel-box{
    display:flex;
box-sizing: border-box;
border-bottom: 2px solid gray;
color: aliceblue
}
.sel-box>img{
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.sel-box>span{
    padding: 15px;
    font-size: 20px 
}


.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: white;
    background-color: transparent;
    border: 1px solid #dee2e6;
}

#newsNumber{
   display: flex;
   justify-content: center;
    margin-right: 10px; 
}

.up{
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellowgreen;
}
.down{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red
}

#sel-top{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom:1.5px solid rgba(32, 30, 30, 0.747);; 
    margin-left:1px;
    margin-right: 1px; 
}

#sel-top>.col-2>span{
display:flex;
justify-content: center
}

#sel-content>.col-2>span{
    display:flex;
    justify-content: center
    }

#sel-content>.col-2{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#sel-content{
    margin-top:5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-bottom:1.5px solid rgba(32, 30, 30, 0.747);; 
    margin-left:1px;
    margin-right: 1px; 
    padding-bottom:5px ;
    
}

#sel-content-all{
    /* height: 150px;
    overflow-y: auto; */
}

#pageNumber{
    color: #fff;
}
.page-link:hover{
    color:yellowgreen
}