
#protfolio-top{
    width: 100%
}
#protfolio>span{
    display: flex;
    background:rgba(32, 30, 30, 0.747);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color:yellowgreen;
    width: 100px;
    height: 50px;
    border-top-left-radius:15px; 
    border-top-right-radius:15px; 
}
#protfolio-background{
    display: flex;
    flex-direction: column;
    background:rgba(32, 30, 30, 0.747);
    border-top-right-radius:15px; 
    border-bottom-right-radius:15px; 
    border-bottom-left-radius:15px; 
    height:750px;
}
.top-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px
}
.top-name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color:white;
}

#protfolioSelection{
display: flex;
justify-content:center;
padding-bottom: 20px;
}
.protfoliCoin{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgba(32, 30, 30, 0.747);
    background:rgba(32, 30, 30, 0.747);
    color:#fff
}
.protfoliCoin:hover{
color: yellowgreen
}
#proWrap{
    display: flex;
    width: 720px;
    flex-wrap: wrap;
}
#protfoliCointop{
margin: 10px;
display: flex;
justify-content: center;
width: 150px;
border-radius:10px; 
color: #fff;
background:rgba(32, 30, 30, 0.747);
border: 1px solid  rgba(32, 30, 30, 0.747);
}
#protfoliCointop:hover{
    color: yellowgreen;
}
#protfoliCointop:active {
    color: yellowgreen;
}

#protfolio-foot{
    display: flex
}